@import '../../global/utils/init';
@import '../../global/utils/colors';

.menuContainer {
  position: relative;
}

.menu {
  background-color: $color-white;
  color: $color-black;
  border-radius: 8px;
  position: absolute;
  top: 63px;
  right: -12px;
  width: 300px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;

  .active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0; 
  }

  li {
    border-bottom: 1px solid #dddddd;
    // color: $color-white;
    a {
        text-decoration: none;
        color: $color-black;
        padding: 15px 20px;
        display: block;
    }
  }

}

.menuTrigger {
  background: #ffffff;
  border-radius: 90px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border: none;
  vertical-align: middle;
  transition: box-shadow 0.4s ease;

  span {
    font-weight: 700;
    vertical-align: middle;
    font-size: 14px;
    margin: 0 10px;
  }

  img {
    border-radius: 90px;
  }

}

.menuTrigger:hover {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.buttonContent {
    &::after {
        content: '';
        position: absolute;
        background-image: url('./images/arrow-down.svg');
        width: 10px;
        height: 10px;
        margin: 5px;
    } 
}

.open {
    .buttonContent {
        &::after {
            transform: rotate(180deg);
        } 
    }
}
