@import '../../global/utils/init';

.contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    // height: 100%;
    background-color: $color-black;
}