@import '../../global/utils/init';
@import '../../global/utils/colors';

.map {
    // height: 380px !important;
    display: block;
    position: absolute;
    width: 100%;
    overflow: hidden;
}
